$orimeryColor:#4e3440;
$secondrayColor:#bb7171;
$primeryTextColor:white;
.btndiv > button{
    float: right !important;
    margin-left: 85% !important;
    }
    .extensionDiv {
        padding-left: 5px;
        background-color:$primeryTextColor;
        float: left;
        border-radius: 5px;
        margin-top: 5px;
    }
    .extensionDiv > span {
        padding:  0px;
        margin: 0px;
    }
    .extensionDiv >  mat-icon {
        margin-left: 10px;
        cursor: pointer;
    }
    