<div
  class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 container-fluied body">
  <app-header [headerText]="'Add New Project'"></app-header>
  <!-- <span>employees data to be loaded here!</span> -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 subHeader">
      <button class="btn btn-default addnew" (click)="goToAllProject()">
        <mat-icon aria-hidden="false" aria-label="Back">keyboard_backspace</mat-icon>
      </button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 subBody">
      <form [formGroup]="addNewProject" style="font-family: 'Varela Round', sans-serif !important;">
        <div class="form-row">
          <div class="col-md-4 mb-4">
          </div>
          <div class="col-md-4 mb-4">
          </div>
          <div class="col-md-4 mb-4">
          </div>
          <div class="col-md-6 mb-6">
            <label for="sid">Project/Side ID</label>
            <input type="text" formControlName="sid" class="form-control" id="sid" placeholder="Enter project id">
            <span class="inputFieldError" *ngIf="!this.addNewProject.controls.sid.valid">*project/side
              id required</span>
          </div>
          <div  class="col-md-6 mb-6">
            <label for="supervisor">Select Status</label>
            <app-dropdown [dataArray]="projectStatus" [isSingleSelection]="true" [isSearchAllow]="false"
              [idField]="'id'" [dataField]="'text'" (valueChange)="projectStatusChanged($event)">
            </app-dropdown>
          </div>
          <div class="col-md-6 mb-6">
            <label for="fname">Client Name</label>
            <input type="text" formControlName="fullname" class="form-control" id="fname" placeholder="Enter client name">

            <span class="inputFieldError" *ngIf="!this.addNewProject.controls.fullname.valid">*client name
              required</span>
          </div>
          <div class="col-md-6 mb-6">
            <label for="oname">Other Name</label>
            <input type="text" formControlName="othername" class="form-control" id="oname"
              placeholder="Enter client other name">
          </div>
          <div class="col-md-6 mb-6">
            <label for="oname">Area</label>
            <input type="text" formControlName="area" class="form-control" id="area" placeholder="Enter project area">
            <span class="inputFieldError" *ngIf="!this.addNewProject.controls.area.valid">*area
              is required</span>
          </div>
          <div class="col-md-6 mb-6">
            <label for="oname">Location</label>
            <input type="text" formControlName="location" class="form-control" id="location"
              placeholder="Enter project location">
            <span class="inputFieldError" *ngIf="!this.addNewProject.controls.location.valid">*location
              is required</span>
          </div>
          <div class="col-md-6 mb-6">
            <!-- <label for="oname">Start Date</label> -->
            <!-- <mat-form-field class="example-full-width" style="width:100%">
              <input matInput [matDatepicker]="startDate" placeholder="Choose start date">
              <mat-datepicker-toggle matSuffix [for]="startDate">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field> -->
            <label for="endDate">Start Date</label>
            <ng-datepicker  formControlName="startDate" id="startDate" position="bottom-left"></ng-datepicker>
          </div>
          <div class="col-md-6 mb-6">
            <label for="endDate">End Date</label>
            <ng-datepicker formControlName="endDate" id="endDate" position="bottom-left"></ng-datepicker>
          </div>
        </div>
        <div class="row btndiv" style="margin-top: 10px">
          <button class="btn submitbtn" type="submit" (click)="submitNewProject()">Submit</button>
          <!-- <button type="button" class="btn cancelbtn" (click)="modal.dismiss('Cross click')">Cancel</button> -->
        </div>
      </form>
    </div>

  </div>
</div>