$orimeryColor:#4e3440;
$secondrayColor:#bb7171;
$primeryTextColor:white;
.empIcons {
    cursor: pointer;
    margin-left: 5px;
  }
  .empInfoHeader {
    background-color: $secondrayColor;
    width: 100%;
    color: $primeryTextColor;
    text-align: center;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif ; 
  }
   label{
     width: 100%;
    font-family: 'Varela Round', sans-serif ;
  }
  label > span {
    float: right;
    padding:5px;
  }