$primeryColor:#4e3440;
$secondrayColor:#bb7171;
$primeryTextColor:white;
h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .btn-primary {
      background-color: $primeryColor !important;
      border: none;
  }
table{
    width: 1800px
}

.activeClass {
background-color: $secondrayColor;
}
.dropdown-menu{
min-width: auto !important;
}
.dropdown-menu > a{
padding: 5px !important;
}
.dropdown-menu > a:hover{
cursor: pointer;
background-color: $secondrayColor;
color: $primeryTextColor;
}