
$orimeryColor:#4e3440;
$secondrayColor:#bb7171;
$primeryTextColor:white;

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
// table
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td, th {
//   // width: 25%;
// }
.empIcons {
  cursor: pointer;
  margin-left: 5px;
}
.empInfoHeader {
  background-color: $secondrayColor;
  width: 100%;
  color: $primeryTextColor;
  text-align: center;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif ; 
}
 label{
   width: 100%;
  font-family: 'Varela Round', sans-serif ;
}
label > span {
  float: right;
  padding:5px;
}
.activeEmp{
  color: green;
  font-weight: bold;
}
.inactiveEmp{
  color: red;
  font-weight: bold;
  
}
.isBonushour{
  background-color: $secondrayColor;
  color: $primeryTextColor;
  font-weight: bold;
  border-radius: 5px;
}
// .empTableHead {
//   // width: 15% !important;
// }